<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <div class="d-flex" role="search">

        <li class="nav-item dropdown list">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img width="50" height="50" src="https://img.freepik.com/free-photo/beautiful-businesswoman-portrait_144627-28110.jpg?size=626&ext=jpg&ga=GA1.2.376430588.1691082287&semt=ais" class="profile" />
            <span class="text-info-emphasis fw-bold fs-3 ms-1 mt-2" >Faieem Khan</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Dashboard</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>

      </div>
    </div>
  </div>
</nav>
