.example-container
{
  height: 90vh;
  background: #dbedf0;
}
.side-nav-btn{
  padding: 10px 60px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
.side-nav-toggle-btn{
  padding: 10px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
.example-sidenav{
  background: #60a5fa;
  text-align: start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.top-div{
  background: #bad4f3;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-top: 20px;
}
